{% extends 'base.html' %}

{% block title %}<h1>Register</h1>{% endblock %}

{% block content %}
<form id='register-form' method='POST'>
    {{ form.hidden_tag() }}
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label(class="form-label mt-4") }}
      {{ field(class="form-control") }}

      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
    <button type='submit' class="btn btn-primary">Register</button>
</form>
{% endblock %}